In [ ]:
import pandas as pd
import numpy as np

## Q1

In [2]:
pd.__version__

'2.3.1'

In [4]:
df= pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [6]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2

In [8]:
df.shape[0]

9704

## Q3

In [13]:
df["fuel_type"].nunique()

2

## Q4

In [28]:
(df.isnull().sum() > 0).sum()

np.int64(4)

## Q5

In [33]:
df.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

## Q6

In [34]:
df['horsepower'].median()

np.float64(149.0)

In [46]:
df['horsepower'].mode().values

array([152.])

In [50]:
df['horsepower'].fillna(value= int(df['horsepower'].mode().values), inplace= True)

/tmp/ipykernel_9309/3386926975.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  df['horsepower'].fillna(value= int(df['horsepower'].mode().values), inplace= True)

In [51]:
df['horsepower'].median()

np.float64(152.0)

## Q7

In [63]:
X = df[df['origin'] == 'Asia'].loc[:,['vehicle_weight','model_year']].head(7)

In [65]:
X.T.dot(X)

                vehicle_weight    model_year
vehicle_weight    6.224833e+07  4.143122e+07
model_year        4.143122e+07  2.837334e+07

In [67]:
XTX = np.linalg.inv(X.T.dot(X))

In [68]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [69]:
w = XTX.dot(X.T).dot(y)

In [71]:
w.sum()

np.float64(0.5187709081074016)